<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>3994E3A5-EA93-45EC-9B92-15CD86AD3398</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sf</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Squiz for '{query}'</string>
			<key>url</key>
			<string>https://find.squiz.net/s/search.html?collection=squiz-meta-all&amp;binary=&amp;query={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>485F21BB-019A-4D01-AEEE-923C40092BFA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>hc</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Chat to @{query}</string>
			<key>url</key>
			<string>hipchat://hipchat.squiz.net/user/%40{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>AAFDDCAE-DDCC-488F-A57E-0426BD2F9FFE</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>mm</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Matrix Manuals for '{query}'</string>
			<key>url</key>
			<string>https://squiz-funnelback01.squiz.net/s/search.html?query={query}&amp;collection=matrix-manuals</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
