<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>1EBCA020-F651-44F4-972C-90C562F57F95</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>os</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search OneSquiz for '{query}'</string>
			<key>url</key>
			<string>http://squiz-funnelback04.squiz.net/s/search.html?collection=onesearch-meta&amp;profile=_default_preview&amp;query={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>3994E3A5-EA93-45EC-9B92-15CD86AD3398</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sf</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Squiz for '{query}'</string>
			<key>url</key>
			<string>https://find.squiz.net/s/search.html?collection=squiz-meta-all&amp;binary=&amp;query={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>485F21BB-019A-4D01-AEEE-923C40092BFA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>hc</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Chat to @{query}</string>
			<key>url</key>
			<string>hipchat://hipchat.squiz.net/user/%40{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>AAFDDCAE-DDCC-488F-A57E-0426BD2F9FFE</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>mm</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search Matrix Manuals for '{query}'</string>
			<key>url</key>
			<string>https://matrix.squiz.net/search?query={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B9F61D7B-BCDE-486C-AABE-06311EDA1483</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sm</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search SquizMap with Funnelback for '{query}'</string>
			<key>url</key>
			<string>https://find.squiz.net/s/search.html?collection=squizmap&amp;query={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
